---
import "../styles.css";
import { ClientRouter } from "astro:transitions";
import Header from "../components/Header.astro";

interface Props {
	header?: boolean;
	title?: string;
	description?: string;
}
let { header = true, title = "Isaac McFadyen", description } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="canonical" href={Astro.url} />
		<meta property="og:title" content={title} />
		<meta property="og:url" content={Astro.url} />
		<meta property="og:description" content={description} />
		<meta property="og:type" content="website" />
		<meta property="og:image" content="/favicon.png" />
		<title>{title}</title>
		{description && <meta name="description" content={description} />}
		<ClientRouter />
	</head>
	<body class="dark:bg-zinc-800 dark:text-zinc-50 bg-zinc-100 text-zinc-900">
		{header ? <Header /> : null}
		<slot />
	</body>
</html>
